/* color palette: https://coolors.co/231f20-bb4430-7ebdc2-f3dfa2-efe6dd */
/* css grid documentation: https://css-tricks.com/snippets/css/complete-guide-grid/ */

body {
  font-family: Helvetica;
  margin: 0;

}


#app {
  height: 100%;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 130px auto;
  grid-template-areas:
    "header header"
    "sidebar content"
}

#header {
  grid-area: header;
  background-color: #EFE6DD;
  padding: 7px;
}

#sidebar {
  grid-area: sidebar;
  background-color: #7EBDC2;
}

#content {
  grid-area: content;
  padding: 10px;
}

nav {
  display: grid;
  grid-template-columns: repeat(4 , 100px) auto;
  grid-template-rows: auto;
}

nav a, .nav a:link {
  text-decoration: none;
  color: #BB4430;
  padding: 10px 10px;
  justify-self: center;
}

nav a:last-child {
  justify-self: right;
}

nav a:hover {
  background-color: #F3DFA2;
}

nav .submenu {
  position: absolute;
  display: none;
}

nav a:hover .submenu {
  display: block;
}

.sidemenu li > ul {
  display: none;
}

.sidemenu input:checked + ul {
  display: block;
}

.sidemenu li>input[type="checkbox"] {
  display: none;
}

td, th {
  padding: 7px;
}

table {
  border-collapse: collapse;
}

thead tr {
  background-color: #231F20;
  color: #BB4430;
}

tbody > tr:nth-child(odd) {
  background-color: #F3DFA2;
  color: #BB4430;
}

tbody > tr:nth-child(even) {
  background-color: #EFE6DD;
  color: #BB4430;
}

tbody > tr:hover {
  background-color: #7EBDC2;
}
