* {
  font-family: Helvetica;
}

td, th {
  padding: 7px;
}

table {
  border-collapse: collapse;
}

thead tr {
  background-color: #231F20;
  color: #BB4430;
}

tbody > tr:nth-child(odd) {
  background-color: #F3DFA2;
  color: #BB4430;
}

tbody > tr:nth-child(even) {
  background-color: #EFE6DD;
  color: #BB4430;
}

tbody > tr:hover {
  background-color: #7EBDC2;
}
